extends layout

block content
  h1= query + ' 검색 결과(' + results.length + ')'
  #map
  script.
    var positions = [];
  for result in results
    script.
      positions.push({
        lat: #{result.geometry.location.lat},
        lng: #{result.geometry.location.lng},
        name: '#{result.name}',
        id: '#{result.place_id}'
      });
  script.
    function initMap() {
      var center = positions[0] || { lat: 37.540705, lng: 126.956764 };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: center
      });

      positions.forEach(function(pos) {
        var marker = new google.maps.Marker({
          position: { lat: pos.lat, lng: pos.lng },
          map: map,
          title: pos.name
        });
        var div = document.createElement('div');
        var h1 = document.createElement('h1');
        var button = document.createElement('button');
        h1.textContent = pos.name;
        button.classList.add('btn');
        button.textContent = '즐겨찾기 추가';
        button.onclick = function () {
          var xhr = new XMLHttpRequest();
          xhr.onload = function () {
            if (xhr.status === 200) {
              location.href = '/';
            }
          };
          xhr.open('POST', '/location/' + pos.id + '/favorite');
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify({
            name: pos.name,
            lat: pos.lat,
            lng: pos.lng
          }));
        };
        div.appendChild(h1);
        div.appendChild(button);
        var infowindow = new google.maps.InfoWindow({
          content: div
        });
        marker.addListener('click', function () {
          infowindow.open(map, marker);
        });
      });
    }
  script(
    async
    defer
    src="https://maps.googleapis.com/maps/api/js"
      + "?key=AIzaSyDaF4Pzmqg5oVAaC4iMIrZVeyq42bAKHhU&callback=initMap"
  )
